%h1 Listing articles

%table
  %thead
    %tr
      %th Title
      %th Post
      %th Options
  %tbody
    - @articles.each do |article|
      %tr
        %td
          = article.title
        %td
          = article.post
        %td
          = link_to 'Show', article
          = link_to 'Edit', edit_article_path(article)
          = link_to 'Destroy', article, :method => :delete, :confirm => 'Are you sure?'

%br

= link_to 'New Article', new_article_path
